<section id="create-post">
	<form class="form-class" [formGroup]="postForm" (ngSubmit)="sendPost()">
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" id="title" formControlName="title" autocomplete="off">
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea type="text" class="form-control" id="content" maxlength="50000" formControlName="content" rows="10"></textarea>
		</div>
		<div class="button-holder">
			<input type="submit" value="Post" class="btn btn-primary">
		</div>
	</form>
</section>