<section id="login" class="container">
  <h1 class="text-center">Login</h1>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username" class ="control-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
		formControlName="username"
		autocomplete="off"
	  />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
		formControlName="password"
		autocomplete="off"
      />
    </div>
    <div class="button-holder text-center">
      <input type="submit" class="btn btn-primary" value="Login" />
      <input
        type="button"
        class="btn btn-primary"
        value="Register"
        routerLink="/register"
      />
    </div>
  </form>
</section>
