<app-login *ngIf = "!authService.isLoggedIn()"></app-login>
<div class=container style="margin-top:50px; margin-bottom: 50px;">
    <ul class="list-group">
        <li class="list-group-item card" *ngFor="let post of posts | 
        paginate: { itemsPerPage: 2, currentPage: p }" style="margin:10px;"> 
            <div class="card-body">
                <h1 class="card-title">{{post.title}}</h1>
                <p class="card-text">{{post.content | slice:0:250}}...</p>
                <a href="/#/posts/{{post.id}}" class="btn btn-primary">View post</a>
            </div>
        </li>
    </ul>
</div>
<pagination-controls *ngIf = "authService.isLoggedIn()" class="pagination justify-content-center" (pageChange)="p = $event"></pagination-controls>