
<div class="container">
  <div class="jumbotron">
    <div class= "container">
      <h1 class="display-4">{{post.title}}</h1>
      <h5>Written by {{post.author?.username}}</h5>
      <h5>{{post.posted}}</h5>
      <hr class ="my-4">
      <p>{{post.content}}</p>
    </div>
  </div>
  <div class = "container" style="margin-bottom: 25px; border: 1px solid lightgray; padding: 15px;">
    <div class="form-group">
      <textarea id="commentarea" [(ngModel)] ="content" placeholder="Leave a comment here..." style="width:100%;"></textarea>
    </div>
    <button type="submit" (click) = "submitComment()" class="btn btn-primary">Send</button>
  </div>
  <div class="container">
    <div class ="list-group">
      <div class="list-group-item" *ngFor='let comment of comments' style="margin-bottom: 25px;">
        <div>
          <h5 class="mb-1">{{comment.commenter.username}}</h5>
          <small>{{comment.posted}}</small>
        </div>
        <br>
        <p class="mb-1">{{comment.content}}</p>
      </div>
    </div>
  </div>
</div>