<nav class="navbar-expand-lg navbar navbar-dark bg-dark" *ngIf = "authService.isLoggedIn()">
		<a class="navbar-brand" routerLink="/home">
			<img src="../assets/images/logo.png" alt="logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/profile">Profile <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/createpost" *ngIf="authService.isAddmin()">Create Post <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
						<a class="nav-link" routerLink = "/login" (click) = "authService.logout()">Logout</a>
					</li>
		  </ul>
		</div>
	</nav>
	
<router-outlet ></router-outlet>


