<app-profile-post *ngIf = "authService.isAddmin()"></app-profile-post>
<div>
    <h1>Here are your comments:</h1>
    <br>
    <div *ngFor="let c of comment | paginate: { itemsPerPage: 4, currentPage: thi }, let i = index" >
        <div class="card">
        <div class="card-block">
            <p id="{{c.id}}"  class="small">{{c.content | slice:0:50 }}</p>
            <button type="button" id="{{c.id}}button" class="btn btn-primary"style="width:100px;" (click)="handleClick($event,  c.id )">More</button>
            <p class="card-text" >{{c.posted}}</p>
        </div>
    </div>
</div >
</div>
<pagination-controls (pageChange)="thi = $event"></pagination-controls>
