.card{
    background-color:#e9ecef;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    font-size: 15px;
    border:0px;
    margin-bottom: 10px;
}
.container {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}