<div class="container-fluid">
  <div class="row">
      <app-profile-information class="col-3"></app-profile-information>
      <app-profile-comments class="col-9"></app-profile-comments>
  </div>
</div>
