/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{ 
	background: url("../src/assets/images/architecture-art-art-gallery-2078271.jpg") no-repeat center center fixed; 
	background-size: 100% 100%;
	
}