<div class="card" style="max-width: 18rem;">
  <div class="card-body"  *ngIf="authService.isLoggedIn()">
    <img class="rounded-circle rounded mx-auto d-block" src="../../../assets/images/deafultPicture.png"  alt="profile pic" height="150" width="150" >
    <a class="nav-link" routerLink="/edit">
     <button type="button" class="btn btn-secondary">Edit</button>
    </a>   
    <h5 class="text-center">Username: {{ authService.user.username }}</h5>
    <h5 class="text-center">E-mail:  {{ email }}</h5>
    <h5 class="text-center" >Role:  {{ role }}</h5>
    <p class="text-center">Date of birth: {{birth}}</p>
    <p class="text-center">Gender: {{gender}}</p>
    <p class="text-center">Company: {{company}}</p>
    <p class="text-center">Website: {{website}}</p>
  </div>
</div>

