<div class="container-fluid">
    <div class="row">
        <app-profile-information class="col-3"></app-profile-information>
        <app-edit-page-form class="col-9"></app-edit-page-form>
    </div>
  </div>
  