<br>
<form class="form" [formGroup]="editForm" (ngSubmit)="edit()">
    <div class="form-group" >
        <input class="form-control" type="hidden" value= {{authService.user.id}} formControlName="id">
      </div>  
    <div class="form-group" >
        <label for="email">E-mail address</label>
        <input type="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*[.][a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+$" class="form-control" id="email" aria-describedby="emailHelp" value= {{authService.user.email}} formControlName="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    <div class="form-group">
		<label for="role" >Role</label>
		<select formControlName ="role" id="role" class="form-control" value="{{ authService.user.role }}">
			<option value="ROLE_GUEST">Guest</option>
			<option value="ROLE_AUTHOR">Author</option>
		</select>
	  </div>
    <div class="form-group">
      <label for="picture">Choose your profile picture</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <input class="form-control" type="text" id="birth" formControlName="birth" placeholder="Date of birth">
    </div>
    <div class="form-group">
      <label for="gender" >Gender</label>
      <select formControlName ="gender" id="gender" class="form-control" value="{{ authService.user.gender }}">
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
    </div>
    <div class="form-group">
        <label for="company">Company</label>
        <input class="form-control" type="text" id="company" formControlName="company" placeholder="Company name">
    </div>
    <div class="form-group">
        <label for="website">Website</label>
        <input class="form-control" type="text" id="website" formControlName="website" placeholder="Website URL">
    </div>
    <!--Here we need the post method to sent the new data to the database.-->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>