<div class="back">
<section id="register" class="container">
  <h1 class="text-center">Register</h1>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" autocomplete="off" formControlName="username" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*[.][a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+$" class="form-control" id="email" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
	</div>
	<div class="form-group">
		<label for="role" >Role</label>
		<select formControlName ="role" id="role" class="form-control">
			<option value="ROLE_GUEST">Guest</option>
			<option value="ROLE_AUTHOR">Author</option>
		</select>
	  </div>
	<div class="button-holder">
		<input type="submit" class="btn btn-primary" value ="Register">
		<input type="button" class="btn btn-primary" value ="Login" routerLink="/login">
	</div>
  </form>
</section>
</div>