<div>
  <h1>Here are your posts:</h1>
  <br>
  <div>
      <div *ngFor="let pos of post | paginate: 
      { itemsPerPage: 4, currentPage: page, id: 'page' }">
        <div class="card">
          <h4 class="card-title" >{{pos.title}}</h4>
          <h6 class="card-title" id="{{pos.id}}" >{{pos.content |slice:0:400}}</h6>
            <p class="card-text" ng-text-truncate="pos"
            ng-tt-words-threshold="5" >{{pos.posted}}</p>
            <table style="width:120px;">
                <tr>
                  <th>
                    <button type="button" id="{{pos.id}}button" class="btn btn-primary"style="width:100px;" (click)="handleClick($event,  pos.id )">More</button>
                  </th>
                  <th>
                    <a href="/#/posts/{{pos.id}}" class="btn btn-primary" style="width:100px;">View post</a>
                  </th>
              </table>
        </div>
      </div>
  </div>
  <pagination-controls (pageChange)="page = $event" id="page"></pagination-controls>
</div>